[2020-09-08 17:45] rmfitzpatrick opened #5 "JMX Metrics: Static configuration files"
From https://github.com/open-telemetry/opentelemetry-java-contrib/pull/4#discussion_r475331945 and similar discussions, a standardized MBean object and attribute specification format should be designed and implemented to allow for JMX Metric Gatherer functionality without the caveats that arise from arbitrary groovy script execution.

At a broad view, these scripts should allow for the configurati

[2020-09-09 12:11] svrnm opened #6 "Add labels to entry level tasks for new contributors"
Hi,

based on https://github.com/open-telemetry/community/issues/469 I have added **open-telemetry/opentelemetry-java-contrib** to Up For Grabs:

https://up-for-grabs.net/#/filters?names=653

There are currently no issues with label [help wanted](https://github.com/open-telemetry/opentelemetry-java-contrib/labels/help%20wanted). Please add this label to your entry level tasks, so people can find a

[2020-09-14 00:37] rmfitzpatrick opened #8 "Versioning"
We need to establish versioning and release support practices.  At this time it seems* tracking w/ opentelemetry-java versions similar to opentelemetry-java-instrumentation is likely not appropriate given our reliance on their released, stable versions, as well as our probable release cadence.  Basing our releases on their latest versions in some capacity could provide advantages in transparency a

[2020-09-21 17:41] rmfitzpatrick opened #11 "Make v. Gradle tasks"
Re: https://github.com/open-telemetry/opentelemetry-java-contrib/pull/10#discussion_r491269068 the adoption of Make in this project may be a point of contention or usability hindrance.  Usage of Make isn't standardized across Otel, but is used.

Available:
https://github.com/open-telemetry/opentelemetry-java
https://github.com/open-telemetry/opentelemetry-proto
https://github.com/open-telemetry/op

[2020-09-21 19:49] trask commented on #11
I'm surprised Makefile is used in Java repo, @jkwatson / @anuraaga?

[2020-09-21 21:08] jkwatson commented on #11
It pre-dates my involvement. I just use the gradle tasks, since the makefile just calls them.

[2020-09-22 02:00] anuraaga commented on #11
Yeah I don't think I ever even noticed the Makefile in Java and would be inclined to remove it.

- Gradle is a task runner, having another task runner is extra complexity. I would say Gradle is idiomatic in Java and Make isn't.

- Make isn't cross platform (Windows it's quite a lot of steps to get it, Mac does it have it without installing xcode? Not sure). For a Java project, there's no reason to

[2020-09-25 15:15] rmfitzpatrick opened #12 "JMX Metrics: Default metric capabilities"
As suggested by https://github.com/open-telemetry/opentelemetry-java-contrib/pull/4#discussion_r475336634, it would be ideal if the default JMX metric gatherer functionality were to report helpful metrics for a target jvm or system without requiring a custom groovy script.  These metrics could be based on the available gc and memory mbeans as used in the current opentelemetry-java [runtime metrics

[2020-10-15 13:52] rmfitzpatrick commented on #11
Finally got around to this: https://github.com/open-telemetry/opentelemetry-java-contrib/commit/9c7579e4cb4ea4df45a37b63473cf6bb9b8d64c8.  Thanks for the suggestions.

[2020-10-15 13:52] #11 closed

[2020-11-13 19:56] rmfitzpatrick opened #24 "JMX: Better modularize integration testing patterns"
**Is your feature request related to a problem? Please describe.**
Currently adding integration tests to the JMX Metric Gatherer consists largely of repeating patterns and expanding the `configureContainers()` method of https://github.com/open-telemetry/opentelemetry-java-contrib/blob/master/contrib/jmx-metrics/src/test/groovy/io/opentelemetry/contrib/jmxmetrics/IntegrationTest.groovy.

**Describe

[2020-11-13 20:07] rmfitzpatrick opened #26 "JMX Metrics: allow specifying multiple target systems"
**Is your feature request related to a problem? Please describe.**
It's not currently possible to use multiple target system scripts for the same target server without running multiple java processes, each with a different property value.

**Describe the solution you'd like**
`otel.jmx.target.system` should take comma-separated names and run all applicable scripts on the interval:

`-Dotel.jmx.tar

[2020-11-20 20:19] #26 closed

[2021-01-27 20:07] bogdandrutu opened #30 "Change to use github action per whole org request to move away from circle CI"

[2021-02-09 11:09] ypatent opened #145 "Support export via kafka"
**Is your feature request related to a problem? Please describe.**
The open telemetry collector project supports a kafka based collector, that according to the description can read otlp protos from a configured topic, instead of using grpc as the network layer. Currently i dont see a way to configure the instrumentation to publish messages to kafka, instead of using grpc.

**Describe the solution

[2021-04-23 17:01] #30 closed

[2021-04-28 17:21] jatan28 opened #33 "Add support for cli params/custom label in groovy script"
Currently, when you are trying to monitor the JVM metrics for multiple processes/applications on a single host, it is impossible to differentiate which process the metrics originated from.
Having support for adding custom labels to the groovy script through command line params or a config would provide the required flexibility to re-use the same groovy script to solve the problem stated above and

[2021-05-04 21:54] jatan28 commented on #33
@rmfitzpatrick  Yes, this solution would solve the problem in hand. With this and a custom groovy script, we should be able to differentiate the jmx metrics

[2021-05-28 01:30] dehaansa opened #38 "Missing Attributes on existing MBean causes partial collection failure"
**Description**
If an MBean exists but the requested attribute is missing, an AttributeNotFoundException is thrown and only the metrics collected before that exception are returned.

**Steps to reproduce**
This was observed in a Windows system that lacked the OpenFileDescriptorCount metric of the java.lang:type=OperatingSystem MBean.

**Expectation**
The metric requested would be missing, but metr

[2021-06-01 16:56] rmfitzpatrick commented on #38
Resolved by #39.

[2021-06-01 16:56] #38 closed

[2021-06-02 14:44] #8 closed

[2021-06-10 18:52] rmfitzpatrick commented on #33
@jatan28 appears the Collector contrib project has just released a new version with the added functionality in the JMX receiver: https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.28.0

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/jmxreceiver#properties

Thanks for your patience, and if you run into any issues using it please d

[2021-06-17 23:20] luneo7 opened #69 "AWS X-Ray Centralized Sampler"
**Is your feature request related to a problem? Please describe.**
Today we already have a Jaeger remote sampler in the Java SDK, but we don't have one that targets AWS X-Ray, it would be nice to have one sampler for X-Ray.

**Describe the solution you'd like**
A sampler that takes the service name, a fallback sampler, and a endpoint parameter that can point to the X-Ray service or to the X-Ray re

[2021-06-29 18:48] Mrod1598 opened #42 "Add Support for Multiple ObjectNames"
**Is your feature request related to a problem? Please describe.**
There is an issue when multiple mbeans are under different object names but are similar enough that they could be given the same metric name and differentiated through labels. This isn't possible currently because when a second call to instrument with the same metric name happens, it overrides the previous call to instrument.

EX:

[2021-06-29 23:22] rmfitzpatrick commented on #42
@Mrod1598 thanks for your issue and PR.  I'm wondering if a more robust solution would involve adding additional query signatures that accept a QueryExp so that we conform to the underlying `MBeanServerConnection.queryNames()` method, but on brief inspection there doesn't appear to be a way to filter just the desired ObjectName properties.  Do you happen to know if this is accurate?

[2021-06-30 15:23] Mrod1598 commented on #42
I'm not seeing any way to filter just the ObjectNames property either it seems.

[2021-07-05 15:33] brunobat opened #48 "JakartaEE Integration"
**Is your feature request related to a problem? Please describe.**
Allow JakartaEE applications to use OpenTelementry.
APIs and their implementations could also use this.

**Describe the solution you'd like**
Add a CDI bean producer to properly wire the OpenTelementry(OT) context and allow the usage of OT anotations in any JakartaEE application.

**Describe alternatives you've considered**
This ca

[2021-07-12 09:40] brunobat commented on #48
I guess this is this will be the right place. Let's see what I can do.

[2021-07-15 00:00] breedx-splk opened #54 "Sampler that passes spans based on name prefix"
Users have asked for a way to ensure that their manually created spans are never sampled out while still allowing the rest of instrumentation to sample normally. One approach I'm suggesting here is to create a new sampler that can be preconfigured with a set of span name prefixes to always include. That is, if a span name starts with one of the prefixes, it always passes. If it does not, then this

[2021-07-15 00:08] jkwatson commented on #54
The opposite of this would also be super useful... To remove spans based on name.

[2021-07-15 01:35] anuraaga commented on #54
If it's about manual sampling instead of relying on name, I think context attribute to force sampling can work and more flexible.

[2021-07-15 06:23] iNikem commented on #54
One more option to always include manual spans is to use InstrumentationLibrary.Name: if it does not start with `io.opentelemetry`, then return `RECORD`

[2021-07-15 15:01] jkwatson commented on #54
how would you implement that with a Sampler? Samplers don't have access to the Tracer implementation being used to create the span.

[2021-07-15 16:59] breedx-splk commented on #54
The usage then looks something like this?
[code]

I agree, it's more explicit that way and requires less fiddling with the sampler and specifying some names.

There's probably opportunity to make that even more convenient with helpers on the `SpanBuilder` too I suppose.

[2021-07-16 07:46] iNikem commented on #54
They are going to, hopefully: https://github.com/open-telemetry/opentelemetry-specification/issues/1588

[2021-07-29 07:51] TheRealGoku opened #58 "Feature Request: Centralized sampling for ADOT SDK"
Feature request to support sampling logic in ADOT sdk as similar like what has been currently offered in X-Ray SDK.

I see the code is in progress over here https://github.com/open-telemetry/opentelemetry-java-contrib/tree/main/aws-xray/src/main/java/io/opentelemetry/contrib/awsxray

Raising this for tracking purpose.

[2021-07-29 23:06] trask commented on #58
hi @TheRealGoku, what is ADOT sdk?

[2021-07-30 08:06] TheRealGoku commented on #58
"AWS Distro for OpenTelemetry" SDK https://aws-otel.github.io/docs/getting-started/java-sdk

[2021-07-30 08:12] iNikem commented on #58
If you are asking for a feature in AWS Distro, then probably that should go to their issue tracking.

[2021-07-30 08:18] TheRealGoku commented on #58
Done, Thanks https://github.com/aws-observability/aws-otel-java-instrumentation/issues/69

[2021-07-30 08:18] #58 closed

[2021-08-04 08:36] iNikem opened #65 "http.url based Sampler"
There is [a request in java instrumentation repo](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1060) to filter out spans for specific endpoints, such as healthchecks.

There is also [a corresponding specification issue](https://github.com/open-telemetry/opentelemetry-specification/issues/1597).

Before attempting to submit a specification proposal, I would like to tr

[2021-08-25 01:16] anuraaga commented on #69
Hi @luneo7 - the Java support is complete, with 1.4 being released to Maven Central for consumption as a library, and the next version of aws-otel-java agent distribution will include it as an option. We are still working on changes to the collector to make the experience simpler - the collector will expose an `awsapiproxy` extension which would authenticate the sampling requests made by the Java

[2021-08-31 12:02] jsuereth opened #72 "Latest JMX gatherer broken with collector JMX receiver"
JMX Gatherer 1.4.x release is unable to communicate with the collector (last collector release doesn't support latest OTLP metric attributes).

I think this could be fixed by bumping to 1.5.x where both labels + attributes are sent (or we can wait for the next collector version which will support full OTLP 0.9).

[2021-08-31 14:57] jkwatson commented on #72
FYI, 1.4.1 writes both attributes and labels: https://github.com/open-telemetry/opentelemetry-java/releases/tag/v1.4.1

[2021-08-31 15:01] jsuereth commented on #72
I'll have to do some more diagnostics then, interesting.  The current collector integration tests is still pulling the 1.0-alpha, a quick update to that should be enlightening.

[2021-09-02 05:43] #65 closed

[2021-09-08 18:59] jsuereth commented on #72
Actually, I updated the integration tests, and this appears to not be a problem.

I'm working on the integration tests for the collector component to be able to pull in multiple versions of the jar agent to test compatibility.  However, I noticed 1.4.x is not published on maven central.  Was that on purpose?

[2021-09-08 19:30] rmfitzpatrick commented on #72
@jsuereth the artifact has since been renamed: https://repo1.maven.org/maven2/io/opentelemetry/contrib/opentelemetry-jmx-metrics/1.4.0-alpha/opentelemetry-jmx-metrics-1.4.0-alpha.jar

[2021-09-08 19:31] jsuereth commented on #72
ah, need to update the README to point at the new location

[2021-09-09 00:56] anuraaga commented on #72
Sent #75 to fix the README hopefully. Will close this issue then since sounds like we're good on the compatibility front

[2021-09-09 00:56] #72 closed

[2021-09-09 17:20] jsuereth commented on #72
Also, as an FYI - we should be able to update integration tests on the collector side each release here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5176

[2021-09-10 07:30] cyrille-leclerc opened #78 "Donating a Maven OpenTelemetry extension to the OpenTelemetry project?"
Noter that this message is a cross post of https://github.com/open-telemetry/community/discussions/832 as suggested by @trask .

---

Dear community,

We would like to donate to the OpenTelemetry project a [Maven OpenTelemetry extension](https://github.com/elastic/opentelemetry-maven-extension) that we have created to observe the execution of Maven builds.

This Maven instrumentation integrates wi

[2021-09-10 13:33] kenfinnigan commented on #78
Big +1 from me.

Could you create a PR to submit it to this repo?

[2021-09-10 16:01] jkwatson commented on #78
By the way, I have something similar for gradle (very early days...needs lots of love, including being able to participate in larger build traces):  https://github.com/jkwatson/gradle-otel-tracing

[2021-09-10 17:02] cyrille-leclerc commented on #78
Thanks for your support @kenfinnigan , I'm working on a PR, it's the opportunity for me to re-learn Gradle 👼

[2021-09-12 21:42] cyrille-leclerc commented on #78
@kenfinnigan @jkwatson I submitted a PR for the donation:
https://github.com/open-telemetry/opentelemetry-java-contrib/pull/79

@jkwatson when you have time, I would love to discuss with you of the way you instrumented Gradle and present you some questions I faced when developing the Maven instrumentation

[2021-09-12 23:16] jkwatson commented on #78
Start by looking at the source I posted above. There's not much to it at the moment. :)

[2021-09-13 02:51] trask commented on #78
@cyrille-leclerc if you are able to join the [Thu Java SIG meeting](https://calendar.google.com/event?action=TEMPLATE&tmeid=aDM0cDVuNHQ4a2RlM2NxaDRlN2NmcDRjbnNfMjAyMTA5MTZUMTYwMDAwWiBnb29nbGUuY29tX2I3OWUzZTkwajdiYnNhMm4ycDVhbjVsZjYwQGc&tmsrc=google.com_b79e3e90j7bbsa2n2p5an5lf60%40group.calendar.google.com&scp=ALL), @jkwatson @kenfinnigan me and others are usually there, and it's a great place to

[2021-09-14 20:26] cyrille-leclerc commented on #78
Thanks @trask I'll try to join this week otherwise it will be next week.

[2021-09-21 19:03] trask commented on #78
Closed by #79

[2021-09-21 19:03] #78 closed

[2021-09-21 19:08] trask opened #82 "[maven-extension] Figure out how to leverage standard autoconfigure"
See comment in the original maven-extension PR about the technical challenges faced with using standard autoconfigure:

* https://github.com/open-telemetry/opentelemetry-java-contrib/pull/79#discussion_r712689149

[2021-09-21 20:13] cyrille-leclerc commented on #82
I faced 2 distinct families of challenges:

* The Otel Auto Configurer assumes that Otel will be shutdown at the shutdown of the JVM which is not true when Otel is managed as an extension or a plugin of the system it instruments. The assumption of the Otel Auto Configurer is materialized by JVM shutdown hooks:
   * https://github.com/open-telemetry/opentelemetry-java/blob/v1.6.0/sdk-extensions/aut

[2021-09-21 20:51] cyrille-leclerc opened #83 "[maven-extension] Add the OpenTelemetry Maven Extension to the Maven documentation"
**Is your feature request related to a problem? Please describe.**

The Maven documentation lists the Maven extensions in [Apache/ Maven/ Available Extensions]https://maven.apache.org/extensions/index.html). The OpenTelemetry Maven Extension should be listed here

We should add the OpenTelemetry Maven extension to this documentation page for better visibility.

**Describe the solution you'd like**

[2021-09-22 10:20] cyrille-leclerc opened #86 "[maven-extension] Failure using the Otel Maven extension declared as an `<extension>` in `pom.xml` because the `pom.xml` of the Otel Maven extension lists dependencies even though they are bundled"
**Description**

Failure using the Maven extension declared as a <dependency> in `pom.xml` because the `pom.xml` of the Maven extension lists dependencies even though they are bundled in the opentelemetry-maven-extension jar (which is a uber-jar).

The `pom.xml` of `io.opentelemetry.contrib:opentelemetry-maven-extension:1.6.0-alpha` is wrong as it lists as runtime dependencies the OpenTelemetry an

[2021-09-22 10:23] cyrille-leclerc commented on #86
The problem seems to be the collaboration between the [Gradle Shadow Plugin](https://imperceptiblethoughts.com/shadow/introduction/) and the [Gradle Maven Publish plugin](https://docs.gradle.org/current/userguide/publishing_maven.html).
We expect the Maven Publish plugin to not add as dependencies in `pom.xml` the dependencies that have been added to the "uber jar" by the Shadow Plugin.

[2021-09-23 07:26] trask commented on #83
Sounds good, can you add link to this issue with your PR/jira/etc that requests the update to that page so we know how to do that in the future if needed?

[2021-09-23 10:25] cyrille-leclerc commented on #83
I created this issue for tracking purpose. I propose that we wait and make the OpenTelemetry Maven extension more visible publicly after we have released a version to fix:
- https://github.com/open-telemetry/opentelemetry-java-contrib/issues/86

[2021-09-24 08:11] cyrille-leclerc commented on #86
Fixed by https://github.com/open-telemetry/opentelemetry-java-contrib/pull/87

@anuraaga  @trask  could we consider cutting a 1.6.1 release to ship the fix of this bug of the Otel Maven Extension?

[2021-09-24 13:48] kenfinnigan opened #93 "[maven extension] Exception if OTLP Exporter not configured properly"
**Description**
`NullPointerException` if OTLP Exporter endpoint is not set.

[code]

**Steps to reproduce**
Run a Maven build with `mvn -Dmaven.ext.class.path={path}/opentelemetry-maven-extension-1.7.0-SNAPSHOT.jar verify`

**Expectation**
Build runs but doesn't capture/export traces

**What applicable config did you use?**
Only what was on the above command line.

**Relevant Environment Informat

[2021-09-24 17:53] trask commented on #86
hey @cyrille-leclerc!

we have an undocumented practice of only patching for regressions, memory leaks and deadlocks (thanks for the reminder tho 😄, documenting that now: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/4198/files)

we can always make exceptions, but try to keep those to a minimum

the normal release cadence is monthly, with the Java SDK releasing generall

[2021-09-24 18:48] kenfinnigan opened #97 "[maven-extension] Disable Mojo spans"
**Is your feature request related to a problem? Please describe.**
In playing with the extension today on a build of Quarkus, it generates 17400 spans as each Mojo/plugin in a module build has its own span.

Though this information is beneficial in diagnosing a problem it does add a lot more information than is probably necessary for regular project builds. It might also be interesting to provide

[2021-09-24 20:15] trask opened #99 "Sporadic build failure"
[code]

[full build log](https://github.com/open-telemetry/opentelemetry-java-contrib/files/7228202/build.txt)

[2021-09-24 20:35] trask commented on #99
just saw this again here: https://github.com/open-telemetry/opentelemetry-java-contrib/runs/3704421747

[2021-09-24 21:20] cyrille-leclerc commented on #86
Thanks for the explanation, it's perfect for me.

[2021-09-27 16:14] cyrille-leclerc commented on #97
@v1v @kuisathaverat it reminds me the problem we faced on Jenkins observability. 17k span is one order of magnitude higher than the problem we faced in CI pipeline traces :-)
I like the idea to be incremental and first enable disabling bluntly the mojo spans. Later, we will be able to refine the feature to support smarter filtering if it makes sense.
Note that this telles me that the challenge wil

[2021-09-27 18:16] kenfinnigan commented on #97
Ok, I will start playing around with this when I have a moment.

Whether we need a span per unit test would depend on the purpose of the spans.

If it's purely as a view on how long a build is taking, does it need that really fine-grained level of a particular test? Or only all the tests and then recognize if a set of tests takes too long, to evaluate the logs for how long each test actually took

[2021-09-27 19:33] jagdishkulkarni opened #101 "Supporting B3 baggage propagation"
**Is your feature request related to a problem? Please describe.**
Adding support for `Jaeger B3 baggage` header propagation.  Open Telemetry does not support baggage header propagation in a format expected by Jaeger Open tracing. [Open Telemetry Java Issue-3661](https://github.com/open-telemetry/opentelemetry-java/issues/3661) and [Open Telemetry Specification Issue-1971](https://github.com/open-

[2021-10-14 10:20] cyrille-leclerc commented on #82
FYI we are migrating the Jenkins OpenTelemetry Plugin to the Otel SDK Auto. Configuration Extension.
It's working well so far. Some lessons learned.

* The pattern to do integration tests with autoconfigured in memory span and metrics exporters is not easy
* We need for the configuration to combine parameters from
   * Sensible defaults (e.g. service.name= "jenkins" or "maven")
   * Standard Auto

[2021-10-18 20:55] #97 closed

[2021-10-19 00:34] #82 closed

[2021-10-26 21:25] trask opened #122 "Update CHANGELOG.md history with contents from release notes"
I can do this, but in case I forget...

[2021-10-27 05:06] #122 closed, assigned to nobody

[2021-10-29 18:24] cyrille-leclerc commented on #93
Problem fixed in 1.7.0-alpha

[2021-10-29 18:25] cyrille-leclerc commented on #86
Problem fixed in 1.7.0-alpha

[2021-10-29 18:25] #86 closed

[2021-11-02 18:16] kenfinnigan commented on #93
@trask do I mark this as closed? What's the process?

[2021-11-02 18:47] trask commented on #93
👍

[2021-11-02 18:47] #93 closed

[2021-11-02 20:02] cyrille-leclerc commented on #83
In progress with PR on Apache Maven docs: [Update "Maven/ Available Extensions", add OpenTelemetry Maven Extension apache/maven-site#271](https://github.com/apache/maven-site/pull/271)

[2021-11-02 21:12] cyrille-leclerc commented on #83
Fix via https://github.com/apache/maven-site/pull/271 that has been merged

[2021-11-02 21:12] #83 closed

[2021-11-22 03:26] willarmiros opened #133 "X-Ray Remote Sampler does not poll for new rules"
**Description**
Currently, the X-Ray sampler only polls the `GetSamplingRules` once on startup: https://github.com/open-telemetry/opentelemetry-java-contrib/blob/b5d88e223c8c316b5d97474e5d2ff8fc4b428af1/aws-xray/src/main/java/io/opentelemetry/contrib/awsxray/XraySamplerClient.java#L62

This is problematic because if a customer creates a new sampling rule, it will never be picked up by the applicat

[2021-11-22 03:31] anuraaga commented on #133
The relevant code is here which does reschedule.

https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/aws-xray/src/main/java/io/opentelemetry/contrib/awsxray/AwsXrayRemoteSampler.java#L147

I know @wangzlei saw some behavior that indicated this may not be happening but just wondering if you were able to confirm the repro steps? During initial testing I could confirm dynamic upda

[2021-11-22 03:56] willarmiros opened #134 "Improve attribute mapping for X-Ray Remote Sampler"
**Description**
Currently, the attribute matching performed by the X-Ray remote sampler is confusing or incorrect for two attributes: https://github.com/open-telemetry/opentelemetry-java-contrib/blob/294aade72ffd7bb17330f1213621130ea69cef92/aws-xray/src/main/java/io/opentelemetry/contrib/awsxray/SamplingRuleApplier.java#L177

**Expectation**
1. The X-Ray Sampling Rule attribute "service name" is c

[2021-11-22 04:02] willarmiros commented on #133
I have not confirmed the repro steps, and I wasn't looking at that code which does look good. Maybe @wangzlei can either provide a repro or enable `FINE` level logs to see if some weird exception is occurring?

[2021-11-23 21:17] Mrod1598 opened #136 "Add Support for Multiple Attributes"
**Is your feature request related to a problem? Please describe.**
Add Ability to pass in multiple Attributes into one `otel.instrument()` call.

**Describe the solution you'd like**
What I propose is adding additional signatures to otel.instrument that support attributes in the format of `Map<String, Map<String,String>>` where the strings represent `<Attribute, <LabelKey, LabelValue>>`

Example:

[2021-11-23 23:10] #133 closed

[2021-11-26 02:38] #134 closed

[2021-11-29 20:00] rmfitzpatrick commented on #136
@Mrod1598 I can see the use of this feature and think it can be helpful.  Wouldn't we want the attributes to map to label functions to keep with the current convention?  Otherwise we seem to be limiting the capabilities out of the gate imo.

[2021-12-05 20:50] trask commented on #145
moved 👍

[2021-12-08 19:17] #136 closed

[2021-12-09 15:48] rmfitzpatrick commented on #12
https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/jmx-metrics/docs/target-systems/jvm.md should be adequate for this.

[2021-12-09 15:48] #12 closed

[2021-12-10 01:22] sophieyfang opened #147 "is jvm.memory.pool.used by default value is in 0.0000 Double?"
Trying my luck here. I haven't dig into the code too much. One thing causes problem in our side is  jvm.memory.pool.used generates 0.0000 then integer, we have a little hard time on finding where this 0.0000 comes from.

Details on the issue is stated in: https://github.com/GoogleCloudPlatform/ops-agent/issues/288

[2021-12-10 04:11] trask commented on #147
hi @sophieyfang! `jvm.memory.pool.used` appears to be registered as a long, so I'm not sure how it would be sending a double value:

https://github.com/open-telemetry/opentelemetry-java-contrib/blob/632081ce85a3c71a6eed037a9f26d205e6f7fdc4/jmx-metrics/src/main/resources/target-systems/jvm.groovy#L36-L39

[2021-12-10 04:13] trask commented on #147
cc @rmfitzpatrick who knows more about this code in case I'm missing something, and @jsuereth who knows more about GCP

[2021-12-13 20:19] rmfitzpatrick commented on #147
@sophieyfang I'd agree with what Trask has provided and don't immediately see how this could be the case given [the underlying api usage](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/632081ce85a3c71a6eed037a9f26d205e6f7fdc4/jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/GroovyMetricEnvironment.java#L353). A superficial validation w/ the logging exporter from b

[2021-12-14 14:43] willarmiros commented on #69
Closing this since it's released: https://aws-otel.github.io/docs/getting-started/java-sdk/trace-manual-instr#using-x-ray-remote-sampling

[2021-12-14 14:43] #69 closed

[2021-12-14 14:48] willarmiros opened #148 "X-Ray formatted trace ID injection"
**Is your feature request related to a problem? Please describe.**
I would like to be able to instrument common logging libraries like Log4J and Logback to inject trace IDs that are formatted in the [AWS X-Ray format](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-sendingdata.html#xray-api-traceids), as opposed to the default W3C format.

**Describe the solution you'd like**
This soluti

[2021-12-16 05:33] anuraaga opened #149 "[Maven Extension] Migrate from plexus to JSR dependency injection"
We currently use plexus dependency injection, but using JSR would allow constructor injection, fitting better with our general patterns of non-null final fields, and provide an experience more consistent with standard frameworks.

https://maven.apache.org/maven-jsr330.html

[2021-12-16 12:51] cyrille-leclerc opened #151 "[Maven Extension] Mojo Goal Execution span name is too high cardinality"
**Description**

Mojo Goal Execution span name is too high cardinality due to the fact it includes the artifactId of the project on which it's executed.

Actual: `$mojo.groupId:$mojo.artifactId (execution.phase) @ $project.artifactId`
It would be better cardinality to just do `$mojo.groupId:$mojo.artifactId (execution.phase)`

[2021-12-16 13:00] cyrille-leclerc opened #152 "[Maven Extension] Otel Maven Extension is not reporting its version as `otel.library.version`"
**Is your feature request related to a problem? Please describe.**

Otel Maven Extension is not reporting its version as `otel.library.version`

**Describe the solution you'd like**

Add the OTel Plugin version using `OpenTelemetry.getTracer(instrumentName, instrumentVersion)`.

**Describe alternatives you've considered**

N/A

**Additional context**

[2021-12-16 16:47] sophieyfang commented on #147
You are right. Without any processors, there is no such issue. The culprit is `metricstransform/jvm__pipeline_jvm__metrics_1`

Great thanks!

[2021-12-16 16:48] #147 closed

[2021-12-16 19:48] trask commented on #152
I believe the standard way would be to report this as the `instrumentationVersion` (when constructing the `Tracer`).

Check out

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/dba6e429e4ff437e386a07a1d101c57f2b232b44/instrumentation-api/src/main/java/io/opentelemetry/instrumentation/api/instrumenter/Instrumenter.java#L111-L112

and

https://github.com/open-telemetry/open

[2021-12-16 22:48] jsuereth opened #153 "JMX receiver jar relies on setting otel.imr.export.interval"
See: https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java#L23

We should have some kind of unit tests to make sure the pass-through enviornment variables line up.  This breaks using the JMX receiver using collector-contrib configuration.

[2021-12-17 13:31] cyrille-leclerc opened #154 "[Maven Extension] Feature request: When the surefire:test goal fails, it could list failing tests"
**Is your feature request related to a problem? Please describe.**

When the surefire:test goal fails, it could list failing tests or at list the first ones.

![image](https://user-images.githubusercontent.com/459691/146551939-5d957309-203e-4237-a3bf-112b14113dce.png)

[2021-12-17 14:09] rmfitzpatrick commented on #153
@jsuereth are you reporting that the `otel.jmx.interval.milliseconds` and `otel.imr.export.interval` are separate properties and should be unified? The first determines the groovy script running interval and the other is for the exporter. The JMX receiver could be updated to set both with the collection interval but I'm not immediately seeing another problem.

[2021-12-20 12:50] cyrille-leclerc commented on #149
I tried to use `@Inject` rather than Plexus but  I faced limitations with `@Inject`. I forgot what were these limitations, I have to look at the history of commits.

[2021-12-21 12:54] kubawach opened #156 "Maven plugin for static instrumentation using Java agent"
Dear @open-telemetry/java-contrib-maintainers I'd like to contribute a Maven plugin, capable of ahead-of-time Java application instrumentation using Java OTel agent (aka "static instrumentation").

The goal of the project is:
- implement proof of concept how existing agent can be integrated into the Maven build cycle to instrument applications during build time
- provide a solution for all use cas

[2021-12-21 13:13] kenfinnigan commented on #156
Could you provide details on how it differs from https://github.com/open-telemetry/opentelemetry-java-contrib/tree/main/maven-extension ?

FYI @cyrille-leclerc

[2021-12-21 14:29] anuraaga commented on #156
I have a feeling this is applying the instrumentation to the actual app at compile time, not measuring the time of the build. Yes we're very interested in this :-) Will try to take a look through the linked repo but can't guarantee for this year

[2021-12-21 15:31] cyrille-leclerc commented on #156
I have the same feeling as @anuraaga . This seems to be a proposal to introduce a capability/plugin in Maven to inject Otel instrumentation in applications produced by Maven builds when the Maven Extension is instrumenting Maven itself to observe & monitor the builds but not is not modifying the produced artifacts.

[2021-12-21 15:42] sophieyfang commented on #153
@rmfitzpatrick We are seeing the collection_interval not being respected, the streams are generated at a frequency that's often < 10s causing a problem in our side. (Points get denied by API side if it's being written too fast)

[2021-12-21 15:46] kubawach commented on #156
@anuraaga you are right - it's a M2 build plugin to enhance the app with OpenTelemetry.
@kenfinnigan updated the description a bit to make it a bit clearer :)

[2021-12-21 15:49] sophieyfang commented on #153
I think Josh meant [otel.imr.export.interval](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/v1.9.0/jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java#L23) and [otel.metric.export.interval](https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/src/main/java/io/opentelemetry/sdk/autoconfigure/MetricExporterConfigur

[2021-12-21 15:54] kenfinnigan commented on #156
Thanks for updating the description @kubawach!

As I understand it then, it's adding the instrumentation to the application at build to remove the need for the agent to be attached to the VM at runtime? That's very interesting.

I'd imagine there are benefits to this approach for constructing native executables with GraalVM, as the agent doesn't need to be explicitly added to the build as the code

[2021-12-22 02:48] anuraaga commented on #156
@kubawach Took a scan of the code - it looks like the major interface into instrumentation is this class which doesn't depend on Maven

https://github.com/agh-static-x/Maven-Plugin/blob/master/agent-instrumenter/src/main/java/io/opentelemetry/javaagent/StaticInstrumenter.java

I have a feeling we would want to go in three steps

1) Add the CMD-line tool for static instrumentation, just agent-instr

[2021-12-22 08:02] iNikem commented on #156
I vote for having this in contrib repo for now.

[2021-12-22 10:29] kubawach commented on #156
@anuraaga yeah, it's split on two main modules
- first (https://github.com/agh-static-x/Maven-Plugin/tree/master/agent-instrumenter) that hooks into the OTel agent and then instrument app JARs
- second (https://github.com/agh-static-x/Maven-Plugin/tree/master/app-instrumenter) which is actual implementation of Maven plugin

If we keep the structure it would make sense to add third module - gradle

[2022-01-03 11:05] cyrille-leclerc commented on #149
For the record, I reverted from JSR-330 / SISU to Plexus on commit https://github.com/elastic/opentelemetry-maven-extension/commit/39e2975f14d1f8f1e231d6699d8da314b00331a4 .

The Maven community is interested in understanding the limitations we faced: https://lists.apache.org/thread/bqm4zpjmvhmtqxjnz5qbp2yjxk9y9472

[2022-01-03 11:07] Enkelian commented on #156
Hi! We (@Iffern, @xenoteo, @krzempekk & me) are the authors of this project. We'd be glad to donate it to OpenTelemetry and we'd be happy to work on the donation together!

[2022-01-03 12:32] delanym opened #160 "[Maven Extension] Maven parallel / multithreaded builds fail"
My reactor fails with

[code]

I effective ran `./mvnw validate -e --threads 1C` with an external OTEL_EXPORTER_OTLP_ENDPOINT

I disabled the sortpom, and then maven enforcer, and then it failed on clean plugin. Only way to survive the build is --threads 1.

[2022-01-03 13:09] cyrille-leclerc commented on #160
Thanks @delanym . Do you have a sample Maven project on which we could reproduce the problem?

[2022-01-03 13:15] delanym commented on #160
@cyrille-leclerc im afraid I don't, but I should think you could reproduce on any multithread build, no? It seems like a simple problem of not including the module name in the span name.

[2022-01-03 14:01] delanym commented on #160
[code]

[2022-01-03 14:25] cyrille-leclerc commented on #160
@delanym could you by any chance test https://github.com/open-telemetry/opentelemetry-java-contrib/pull/161 ? It should fix the bug.

[2022-01-03 15:28] johnbley commented on #156
This is very promising work!  I'm particularly excited about having a solution for automatic instrumentation that works for a large chunk of the lambda/serverless market.  With enough config-definition of the classpaths/environment, this in theory could evolve to work for any app or even statically instrument a jvm, but I think focusing on (currently poorly-served) lambda apps would be the best fi

[2022-01-03 19:55] trask commented on #156
I'm very much looking forward to trying this out with native images, specifically wrapping it in a simplified javaagent during native image build time, which would allow instrumenting jvm classes as well (executors, httpurlconnection). I've tried hooking up the regular javaagent during native image build time (https://github.com/trask/native-image-test), but there are lots of issues around class l

[2022-01-04 05:54] anuraaga commented on #156
@Enkelian Thanks a lot, this will be great. Could you maybe start with a PR for 1) from this?

[code]

If you want can swap the order of 2 and 3 but I think it will be simpler for us to review if we start with the bare logic, which can be the CMD-line tool for repackaging a JAR.

[2022-01-04 07:45] delanym commented on #160
@cyrille-leclerc yep that fixed it

[2022-01-04 07:45] #160 closed

[2022-01-04 09:57] delanym opened #164 "[Maven Extension] Maven daemon build fails on second run"
Reproduce as in #160 but use mvnd instead of mvn
https://github.com/apache/maven-mvnd/releases/tag/0.7.1

mvnd validate -Dotel.traces.exporter=otlp -Dotel.exporter.otlp.endpoint=http://10.1.1.1:4317 -Dmaven.ext.class.path=/tmp/opentelemetry-maven-extension-1.10.0-SNAPSHOT.jar -T3

The first run is successful, but the second fails with:

[code]

Kill the daemon with `mvnd --stop` and try again and

[2022-01-04 10:25] delanym opened #165 "[Maven Extension] Logging options"
More control over the logs would be nice. I want tracing on by default, so if the endpoint is inaccessible for whatever reason Id like to silence this sort of thing
[code]

Can use https://maven.apache.org/ref/3.8.4/apidocs/org/slf4j/impl/SimpleLogger.html rather than stdout, like https://github.com/gitflow-incremental-builder/gitflow-incremental-builder/blob/master/src/main/java/com/vackosar/gitf

[2022-01-04 11:21] anuraaga commented on #165
The OpenTelemetry SDK uses java.util.logging instead of slf4j to be dependency-free. Is it possible for a Maven build to redirect j.u.l to slf4j?

[2022-01-04 11:53] delanym commented on #165
Not that I know of. Seems difficult even turning it off https://www.titanwolf.org/Network/q/091d88ad-bd61-4750-8f94-37594648f6df/y

There some strong argument for using SLF4J over at https://stackoverflow.com/questions/11359187/why-not-use-java-util-logging
Pls consider

[2022-01-04 13:02] gnodet commented on #164
`mvnd` caches the plugin realms, so the `SpanRegistry` is reused across maven sessions.
It may work if you annotate your bean with `@SessionScoped` or if you fix your component logic.
Another possibility is to force `mvnd` to discard the realm for the plugin using the `mvnd` plugin eviction pattern: https://github.com/apache/maven-mvnd/blob/09cb99fd48d7b8b0de09ffb8656b77a1648b4e95/common/src/main/

[2022-01-05 09:56] cyrille-leclerc commented on #164
Thanks @delanym and @gnodet . Please see
* https://github.com/open-telemetry/opentelemetry-java-contrib/pull/169

[2022-01-05 12:10] delanym commented on #164
@cyrille-leclerc the traces look unusual, but i'm quite new to this. Did you check them? There are spans for some module plugin executions appearing as their own root spans in Jaeger

[2022-01-05 14:28] delanym commented on #164
Build with `mvnd install ...`. Then make trivial change like below and build again. You should get a trace like pic

[code]

![image](https://user-images.githubusercontent.com/5310238/148233915-26748b8c-0261-42a3-8389-92f303986214.png)

[2022-01-05 21:13] cyrille-leclerc commented on #164
@delanym while the build is not finished, it's a known limitation that the root span is missing. Once the build is finished, the root span should be visible.
**Could your screenshot have been taken while the build was not finished?**

The reason of this missing root span while the build is not finished is that spans are exported by the OpenTelemetry SDK **after** they are finished and the root spa

[2022-01-07 22:30] trask opened #174 "Request for a few additional component owners"
We would like to have (at least) 2 owners for each component in this repository. The component owners will be automatically assigned to review PRs that touch files in those components.

`aws-xray`, `jfr-streaming`, `maven-extension`, and `runtime-attach` have (at least) 2 owners already.

`jmx-metrics` needs one additional owner - @Mrod1598 would you be interested? @rmfitzpatrick any other recomme

[2022-01-10 15:00] Mrod1598 commented on #174
Yes, I'd be interested!

[2022-01-10 17:47] trask commented on #174
@Mrod1598 awesome, can you request membership into the OpenTelemetry github org? here's the instructions: https://github.com/open-telemetry/community/blob/main/community-membership.md#member. you can put myself and @anuraag as the two sponsors. being a member of the OTel org will allow us to assign you as a reviewer for the jmx-metrics component. thx!

[2022-01-10 20:14] dehaansa commented on #174
I'd be happy to join the `jmx-metrics` owners as well if you'd like another. I've contributed a bit there, and helped @Mrod1598 work through some issues on some of his contributions as well. Also haven't applied for membership yet but I've got one sponsor ready, so if anyone here would like to sponsor me as well I'd be happy to take that assistance.

[2022-01-10 20:49] trask commented on #174
Great, please add me as a sponsor!

[2022-01-11 02:44] cpheps commented on #153
So I've been researching this a bit. It appears that [otel.imr.export.interval](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/v1.9.0/jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/JmxConfig.java#L23) has been deprecated since 1.9.0 according to the [opentelemetry-java changelog](https://github.com/open-telemetry/opentelemetry-java/blob/main/CHANGELOG.md?plain=1

[2022-01-11 14:31] cpheps commented on #153
I'm submitting a PR to fix the deprecate exporter interval value. In testing though it seems like that interval may not be respected fully. I need to look into it further and will create a follow up PR if needed.

[2022-01-11 18:31] cpheps commented on #153
I closed my PR I missed that `otel.imr.export.interval` still has backwards compatibility support in [1.9.1](https://github.com/open-telemetry/opentelemetry-java/blob/v1.9.1/sdk-extensions/autoconfigure/src/main/java/io/opentelemetry/sdk/autoconfigure/MetricExporterConfiguration.java#L155-L161) which is what's in `main`.

That being said I setup a debugger on a running jmx receiver that is configu

[2022-01-11 19:17] trask opened #179 "Last call for interest in disruptor-processor"
The [disruptor-processor](https://github.com/open-telemetry/opentelemetry-java-contrib/tree/main/disruptor-processor) component still has no owners, while all other components now have (at least) two owners.

If there's no interest from the community in owning this component, we'll plan to drop it from the repo.

[2022-01-11 19:31] trask commented on #174
Closing, all components except `disruptor-processor` have (at least) two owners, and I have opened separate issue to track that.

Thanks everyone!

[2022-01-11 19:31] #174 closed

[2022-01-11 19:39] kittylyst opened #180 "Add support for Parallel & Shenandoah to jfr-streaming component"
Currently, only the JFR events for the G1 collector (and the general events are supported).

We should support other collectors, and as far as possible make sure that the semantics match.

[2022-01-12 03:08] cpheps commented on #153
Ok I found out what is causing the appearance that the jmx collector is collecting more often than it is. I'm still not sure 100% of how it's happening but on every execution of the groovy script in JMX jar it [flushes](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/jmx-metrics/src/main/groovy/io/opentelemetry/contrib/jmxmetrics/GroovyRunner.java#L134-L139) the exporter to

[2022-01-12 10:56] cyrille-leclerc opened #182 "Triaging issues with `comp:xxx` labels similarly to what otel-collector-contrib does"
**Is your feature request related to a problem? Please describe.**

It's hard today to see which issue is associated to which component (e.g. `aws-xray`, `jfr-streaming`, `jmx-metrics`, `maven-extension`, `runtime-attach`...).

**Describe the solution you'd like**

Could we simplify this triaging process considering adopting the solution chosen by the [OpenTelemetry Collector Contrib](https://gith

[2022-01-12 14:48] delanym opened #183 "[Maven extension] cant set service name"
I want to set the service.name to something other than Maven.

`.\mvnw.cmd  -e clean install --threads 3 -Dotel.traces.exporter=otlp -Dotel.exporter.otlp.endpoint=http://10.1.0.203:4317 -Dotel.instrumentation.maven.mojo.enabled=false -Dmaven.ext.class.path=c:\opt\opentelemetry-maven-extension-1.10.0-20220112.132157-1.jar -Dotel.resource.attributes=service.name=cats,service.namespace=mammals -Dotel

[2022-01-12 15:04] rmfitzpatrick commented on #153
@cpheps thanks for tracking this down. The initial functionality of the gatherer would [collect and flush](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/33d89eac42eafb827e24419f5c1e689f7972e7f6/contrib/jmx-metrics/src/main/java/io/opentelemetry/contrib/jmxmetrics/GroovyMetricEnvironment.java#L101) on the runner interval. I don't recall the specific transition point but as the a

[2022-01-12 15:07] cpheps commented on #153
@rmfitzpatrick based on that seems like it would be ok to remove the deliberate flush on the JMX exporter? I might have misunderstood though so looking for some validation.

[2022-01-12 15:16] rmfitzpatrick commented on #153
@cpheps I think so, but haven't confirmed locally

[2022-01-12 17:11] cyrille-leclerc commented on #183
Should be fixed by https://github.com/open-telemetry/opentelemetry-java-contrib/pull/184

[2022-01-12 18:45] trask commented on #182
good idea, labels created!

[2022-01-12 18:55] trask commented on #99
Haven't seen this in a few months, closing.

[2022-01-12 18:55] #99 closed

[2022-01-12 18:57] trask commented on #182
closing, labels have been added to existing issues

[2022-01-12 18:57] #182 closed

[2022-01-12 19:33] kubawach commented on #156
@anuraaga thanks for starting the process - I hope we will start sending PRs soon :)

[2022-01-13 07:51] delanym commented on #183
It looks fixed, but it also looks like there's no longer a default "maven".

[2022-01-13 15:10] cpheps commented on #153
@rmfitzpatrick Just following up if you've been able to confirm removing flush is fine. Let me know if theres some tests I can run on my end to do the verification.

[2022-01-15 13:17] rmfitzpatrick opened #197 "Unable to push to PR branch"
**Description**
When trying to update https://github.com/open-telemetry/opentelemetry-java-contrib/pull/190 with PR feedback I found I was unable to push my changes. This occurs with simple additions and after rebasing the branch and attempting to force push:

[code]

I am not too familiar with the EasyCLA process but it appears its status check must have been considered successful for local branc

[2022-01-15 18:13] trask commented on #197
ya, this was a recent change from CNCF to apply branch protection rules to all branches in the repo, it should work if you push the branch to your fork and submit PR from there

[2022-01-17 07:26] anuraaga commented on #197
It looks like the `jmxremovemanualflush` branch was created in this repo, not a fork, which causes that check to kick in. Not sure why you'd be able to send a PR and then not add any updates to it, but either way let's make sure to write code on our fork except maybe for tiny README updates.

[2022-01-17 07:26] #197 closed

[2022-01-17 15:17] Mrod1598 opened #200 "jmx-metrics: Integration Tests don't pass locally without bumping timing for waiting for metrics to 120s"
**Description**
In the `waitAndAssertMetrics` function We give it at most `30s` to get metrics but locally that never seems to be enough.

[code]

It's not isolated to kafka, it's all integrations.

**Steps to reproduce**
Set Docker Resources to:
![image](https://user-images.githubusercontent.com/14144136/149793948-d9a39215-0d8d-4d76-85da-b8e6edcb409c.png)

run `./gradlew integrationTest`

**Expec

[2022-01-17 19:26] kubawach commented on #156
Soo... the first PR has just landed :)

[2022-01-18 04:22] trask commented on #197
it's the force push that's the problem

[2022-01-18 16:35] rmfitzpatrick commented on #153
Newest version 1.10.0 should resolve this issue.

[2022-01-18 16:35] #153 closed

[2022-01-18 19:44] sjs994 opened #205 "[Help needed] Deploying opentelemetry-sqlcommenter-java to maven central"
SQLCommenter is a library donated by Google to OpenTelemetry. We are in a process to of migrating the source code from [google-cloud-sqlcommenter](https://github.com/google/sqlcommenter) to [opentelemetry-sqlcommenter](https://github.com/open-telemetry/opentelemetry-sqlcommenter).

SQLCommenter contains middleware/plugins that adds the capability of instrumenting SQL queries with code that execute

[2022-01-18 19:49] trask commented on #205
hi @sjs994! what do you think about splitting the sqlcommenter components across the various language contrib repos? that would be the easiest way to benefit from existing / shared build infrastructure and language expertise

[2022-01-19 08:46] sjs994 commented on #205
Hi @trask,

Thanks for the reply!

To give more context: https://github.com/open-telemetry/community/issues/783#issuecomment-889327708. This is what we are trying to achieve. As of now we are planning to have it as part of a separate monorepo project and publish packages from here. This will help us deprecate the google-cloud repository: https://github.com/google/sqlcommenter.

We are planning to

[2022-01-19 09:59] anuraaga commented on #205
Hi @sjs994 - I think we won't be very comfortable distributing out publishing credentials across various repositories because it will become quite hard for us to track. The reality of package managers is they still generally require personal credentials for publishing to. I suspect other language maintainers will have a similar sentiment.

From my reading of the google repo, it seems the implement

[2022-01-19 10:19] #152 closed

[2022-01-19 10:20] #151 closed

[2022-01-19 10:20] #183 closed

[2022-01-19 10:20] cyrille-leclerc commented on #183
@delanym can you please verify it's fixed with v1.10.0?

[2022-01-19 11:42] delanym commented on #183
@cyrille-leclerc I've checked it on v1.10.0-alpha

[2022-01-19 11:46] delanym commented on #164
@cyrille-leclerc it seems on v1.10.0-alpha its no longer sending a trace

[2022-01-19 11:59] delanym opened #208 "[Maven Extension] Release lean and fat JARs"
With respect to #86
the size of the opentelemetry-maven-extension v1.10.0-alpha now stands at 16mb. Its certainly convenient to have a single JAR to point to with -Dmaven.ext.class.path=, but the inefficiency is passed elsewhere in the system.
I want to declare the lean version in <repo>/.mvn/extensions.xml
You could make another JAR with everything in it (opentelemetry-maven-extension-all-1.10.0-

[2022-01-19 12:20] delanym commented on #183
@cyrille-leclerc is it possible to set the service name to the runner when using -T3 etc? Similar to what you get with MAVEN_OPTS="-Dorg.slf4j.simpleLogger.showThreadName=true"

[2022-01-19 12:51] cyrille-leclerc commented on #208
Clever idea, thanks @delanym

[2022-01-19 13:11] cyrille-leclerc commented on #164
@delanym strange, it works on my environment with 1.1.10-alpha as you can see the `mvnd -X` logs: https://gist.github.com/cyrille-leclerc/9cad0babb808b52e6782c82fd13e8063

Could you have forgotten to `export OTEL_TRACES_EXPORTER="otlp"` in addition to `export OTEL_EXPORTER_OTLP_ENDPOINT="..."`?

[2022-01-19 13:39] cyrille-leclerc commented on #183
`service.name` should be settable using the `-Dotel.service.name=my-maven` system property

See https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/README.md#opentelemetry-resource

[2022-01-19 13:41] delanym commented on #164
I had to restart the daemon: mvnd --stop. I shouldn't have to do that though. Gnodet says [here](https://github.com/apache/maven-mvnd/issues/561#issuecomment-1005030050) about persisting data across invocations. Does the extension do that? Or maybe the issue is with mvnd itself not updating properly from .mvn/extensions.xml

[2022-01-19 13:56] delanym opened #209 "[Maven Extension] Maven runners"
Just as Jenkins has agents, and there should be a span/node for each one, also Maven has threads/runners. Running builds in mvnd gives a better indication of how efficiently the modules are processed by each runner, but it would be nicer to have a span/node for each thread/runner.

[2022-01-19 13:57] delanym commented on #183
@cyrille-leclerc im asking for something else #209

[2022-01-19 20:12] sjs994 commented on #205
Hi @anuraaga,

I agree, getting a token with full scope to deploy changes to any repository is not acceptable.
But from the discussion with Python SIG, we will be getting a new token with scope limited to only `sqlcommenter` project. That way, we will have the organization/account for PyPi as opentelemetry, but the token scope will be limited to only `sqlcommenter`.
For maven, my understanding was

[2022-01-19 21:04] trask commented on #205
hey @sjs994,

moving into the contrib repo doesn't trigger any special spec requirements (maybe I misunderstand this question?). it does require following this repo's conventions (which we need to document better, but we will help you through these)

the release process applies to the whole repo for simplicity (one set of tags across all components), but we can kick off (repo-wide) patch releases

[2022-01-20 02:25] anuraaga commented on #205
I took a closer look through the code. I found a bit of context propagation logic that overlaps with our existing instrumentation and then a very small amount of code to append it to an sql string.

https://github.com/google/sqlcommenter/blob/master/java/sqlcommenter-java/src/main/java/com/google/cloud/sqlcommenter/threadlocalstorage/State.java#L109

I don't see much point in a separate repo or ev

[2022-01-20 15:51] rmfitzpatrick commented on #200
30s is a fair amount of time for the gatherer to report metrics. It may be better for the gatherer container to wait for a more informative log (adding one if necessary) that reaching the target mbean server has been successful before starting the test.

[2022-01-20 15:52] rmfitzpatrick commented on #24
I think this has effectively been resolved thanks to the refactoring efforts of @anuraaga.

[2022-01-20 15:52] #24 closed

[2022-01-21 03:34] anuraaga commented on #205
@sjs994 Discussed with the other Java maintainers and there is consensus that we will not accept publishing Java artifacts outside of our maintained three repos. That gives two options

1) RECOMMENDED: Add sqlcommenter functionality into our existing database instrumentation behind an experimental flag and work on getting it spec'd out. I have filed https://github.com/open-telemetry/opentelemetry-

[2022-01-21 17:07] trask commented on #179
Closed by #213

[2022-01-21 17:07] #179 closed

[2022-01-25 13:05] kittylyst commented on #180
Parallel added by https://github.com/open-telemetry/opentelemetry-java-contrib/pull/201

[2022-01-27 13:58] iNikem opened #217 "Provide proper documentation for runtime attach mechanism"
Together with clear description of possible problems when using it.

[2022-01-27 21:35] rmfitzpatrick commented on #200
@Mrod1598 does https://github.com/open-telemetry/opentelemetry-java-contrib/pull/219 work any better for you?

[2022-01-30 18:45] cyrille-leclerc commented on #164
Do you have a problem of failure or a problem of configuration of the second build being ignored?

[2022-01-31 05:32] delanym commented on #164
Problem of configuration. Mvnd doesn't pick up the new version of the extension.

[2022-01-31 05:44] anuraaga commented on #205
Hi @sjs994 - @jsuereth has summed up his thoughts on incorporating sqlcommenter into instrumentation in https://github.com/open-telemetry/community/issues/783#issuecomment-1024501068

I am excited especially by the 2) there of getting tracing-through-SQL spec'd out and formulated to an open standard.

For Java, I do still strongly recommend adding sqlcommenter functionality to our existing instrum

[2022-01-31 06:52] gnodet commented on #164
Could you raise an issue on [mvnd](https://github.com/apache/maven-mvnd/issues) explaining the exact steps to reproduce the issue ?

[2022-01-31 08:42] cyrille-leclerc opened #220 "[Maven Extension] Extension doesn't refresh its config across multiple executions with `mvnd`"
**Description**

Otel Maven extension doesn't refresh its config across multiple executions with `mvnd`.

It's caused by the fact that the SDK is recycled across multiple executions even if the passed configuration has changed.

The problem in the implementation seems to be that we tear down the SDK with `io.opentelemetry.maven.OpenTelemetrySdkService#dispose` on `org.codehaus.plexus.personality.p

[2022-01-31 08:43] cyrille-leclerc commented on #164
@delanym can you please verify this draft issue, I think I understand the cause of your problem:
- https://github.com/open-telemetry/opentelemetry-java-contrib/issues/220

@gnodet it's likely to be a problem in the extension, I'm investigation with @delanym ^^

[2022-01-31 13:27] sjs994 commented on #205
Thank you very much @anuraaga!

As now we have clarity, we can go forward on trying to integrate things into opentelemetry. Thanks for the code points where to integrate. I think this provides enough info to start.

We are looking at opentelemetry-python first and have some progress with POCs there. After a document for that with few possible approaches is complete, we will start on the java side.

[2022-01-31 13:29] sjs994 commented on #205
I suppose this flag: `otel.experimental.jdbc.inject-sql.enabled` is suppose to control the experimental feature ?

[2022-01-31 13:34] anuraaga commented on #205
Yup until the spec is complete we would need a flag like that.

In Java I think so since many if not most users use it. The instrumentation is the same for both so this shouldn't be something to worry about though. I suspect it is the same situation in Python.

[2022-01-31 14:49] Mrod1598 commented on #200
Sorry, been out of the office for a few days. yes that seems to be better.

[2022-01-31 14:49] #200 closed

[2022-01-31 15:21] sjs994 commented on #205
Thanks, Got it!

[2022-01-31 23:44] rkogelhe opened #222 "Sample Groovy yields "Found duplicate metric definition""
**Description**
jmxmetrics using the sample groovy works correctly on the first collection.
On the second collection, we get:
`WARNING: Found duplicate metric definition: my.admin.response.count
	at unknown source
		To enable better debugging, run your JVM with -Dotel.experimental.sdk.metrics.debug=true
Causes
- InstrumentType [OBSERVABLE_GAUGE] is async and already registered
Original instrument

[2022-02-03 19:03] sjs994 commented on #205
Thanks @anuraaga, @trask. We will close this ticket.
We will try out some POCs to integrate sqlcommenter into opentelemetry-java-instrumentation following the approaches provided by @anuraaga.

[2022-02-03 19:03] #205 closed

[2022-02-03 21:54] delanym commented on #164
@cyrille-leclerc mvnd is correctly starting another daemon when the extension changes. I do notice that the first time it does this the extension gives a warning:
`[WARN] [stderr] javassist.NotFoundException: start(..) is not found in java.lang.ProcessBuilder`

I'll look at #220 in the morning

[2022-02-07 10:58] delanym commented on #220
Its working in 1.10.0-alpha @cyrille-leclerc I think the second time I tried I didn't have the updated extension

[2022-02-09 10:58] #164 closed

[2022-02-09 11:21] cyrille-leclerc commented on #164
Thanks @delanym for verifying. I suspect `javassist.NotFoundException` is an mvnd problem rather than an otel maven extension problem.

[2022-02-09 11:22] cyrille-leclerc commented on #220
Thanks @delanym , do you think we can close this defect?

[2022-02-09 14:33] #220 closed

[2022-02-18 16:33] aceeric opened #235 "Which repo?"
Folks - I'm unclear when one would use this project as compared to https://github.com/open-telemetry/opentelemetry-java-instrumentation. In our use case, we have a packaged Java app running in Kubernetes and we want to add metrics collection by Prometheus with minimal effort: we simply want to expose metrics from each container running the app, and let Prometheus scrape and aggregate across the cl

[2022-02-25 14:44] rmfitzpatrick commented on #235
I'm not sure I can provide a definitive answer for your use case, if you're using JMX, the JMX metric gatherer and its built-in target system scripts of this project generate metrics from mbeans provided by target servers (remote processes): https://github.com/open-telemetry/opentelemetry-java-contrib/tree/main/jmx-metrics/docs/target-systems. I'm not aware of any JMX-based metric capabilities in

[2022-02-25 15:01] rmfitzpatrick commented on #222
Apologies for missing this until now. @Mrod1598 do you think you'd be able to rule out https://github.com/open-telemetry/opentelemetry-java-contrib/commit/7184f0003d0d8f804a4700b5934f2fb0769cca98 for this?

[2022-02-25 17:49] trask commented on #235
This is correct. The javaagent captures just a couple of JMX-based metrics today (memory and gc).

[2022-02-28 21:46] kubawach commented on #156
Another one: https://github.com/open-telemetry/opentelemetry-java-contrib/pull/236/files (FYI @Enkelian)

[2022-03-02 12:14] aceeric commented on #235
Thank you.

[2022-03-02 12:14] #235 closed

[2022-03-04 03:19] anuraaga opened #238 "draft-release-notes doesn't work"
It seems to be parsing the CHANGELOG.md incorrectly and outputs from many different versions

[2022-03-04 03:55] trask commented on #238
I will port over https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/5363 to this repo

[2022-03-08 06:22] #238 closed

[2022-03-09 01:59] github-actions[bot] opened #250 "Nightly CodeQL analysis #1 failed"
<a href="https://github.com/open-telemetry/opentelemetry-java-contrib/actions/runs/1954880399">
Nightly CodeQL analysis #1</a> failed. Please take a look and fix it ASAP.

[2022-03-10 02:02] github-actions[bot] opened #251 "Nightly CodeQL analysis #2 failed"
<a href="https://github.com/open-telemetry/opentelemetry-java-contrib/actions/runs/1960721180">
Nightly CodeQL analysis #2</a> failed. Please take a look and fix it ASAP.

[2022-03-10 02:27] #250 closed

[2022-03-10 07:26] #251 closed

[2022-03-10 21:43] rmfitzpatrick commented on #222
This appears to be introduced by https://github.com/open-telemetry/opentelemetry-java/pull/4020 where there used to be a silent getOrCreate-like behavior. The underlying callback is updated w/ the most recent value via the proxied observer so no data loss should occur but the warning is distracting. The api is relatively in flux (https://github.com/open-telemetry/opentelemetry-java/pull/4143) but

[2022-03-11 05:21] anuraaga commented on #222
We're hoping to not need any registries of async callbacks anymore. @jack-berg would be good to check on this and make sure it works smoothly with all the identity changes.

[2022-03-11 18:47] rmfitzpatrick commented on #222
@anuraaga given https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#instrument-type-conflict-detection I think this is a symptom of the jmx-metric gatherer's groovy script running pattern that builds the declared instruments with every interval being at odds with the metric api for both sync and async. This has been the case for a while so having a

[2022-03-12 00:04] anuraaga commented on #222
@rmfitzpatrick They have the same identity though right? Also we can close instruments between runs now perhaps so I think there is a way to work without the cache.

[2022-03-13 23:23] rmfitzpatrick commented on #222
They're the same instruments in all cases and would be cached by their descriptor. The spec suggests to me that our current approach isn't supported without caching on the gatherer's end since there are conflicting registrations and a warning should be emitted. As a user I'd prefer this not be the case but can see it either way.

[2022-03-14 01:47] trask opened #257 "Attaching jars to the release"
Currently we attach `jmx-metrics` and `maven-extension` jars to the release.

Based on the [release artifact download counts](https://tooomm.github.io/github-release-stats/?username=open-telemetry&repository=opentelemetry-java-contrib), it looks like we could probably drop the `maven-extension` download, which I think makes sense, as most users probably consume that via maven central.

`jmx-metric

[2022-03-16 04:46] trask commented on #257
thx, ya, this makes sense to me, and is similar to why we release the javaagent through GH also

it's just some extra one-off yaml code in the release script, not a big deal

@cyrille-leclerc wdyt about the maven-extension?

[2022-03-16 10:44] cyrille-leclerc commented on #257
@trask  I fully support your point, the opentelemetry-maven-extension belong to the Maven ecosystem so the natural way to download it is to go through Maven Central.
Side note: the only reason I see to not download through Maven Central is to use a non released version, to use a snapshot, and making snapshots downloadable is not solved by attaching the Otel Maven Extension to the GitHub Release.

[2022-03-16 18:02] trask commented on #257
👍 I will update release workflow before next release

ya, ping me any time I can pull them:

![image](https://user-images.githubusercontent.com/218610/158656885-d4144c65-019a-4234-b757-68ab8bcebd68.png)

[2022-03-16 18:29] jack-berg commented on #222
If I understand correctly this should be resolved with [#4222](https://github.com/open-telemetry/opentelemetry-java/pull/4222).

At this point:
- Async instruments can have multiple callbacks associated with them.
- You can request the same instrument multiple times. Because async instruments now support multiple callbacks, this applies to both sync and async instruments.
- If all the parts of the

[2022-03-16 23:31] #257 closed

[2022-03-17 12:41] cyrille-leclerc commented on #257
Thanks @trask , these numbers are encouraging.

[2022-03-20 21:44] chalin opened #268 "Add link to opentelemetry.io under About section"
Under the **About** section of this repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-20 23:24] trask commented on #268
done

[2022-03-20 23:24] #268 closed

[2022-03-30 10:32] Enkelian commented on #156
New PR: https://github.com/open-telemetry/opentelemetry-java-contrib/pull/278

[2022-04-07 18:31] djaglowski opened #282 "[JMX Metric Gatherer] Formalize relationship to the OpenTelemetry Collector"
This issue is related to [6750 (collector-contrib)](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6750) and follows from a preliminary discussion in today's Java SIG.

The goal of this issue is to formalize that the JMX Metric Gatherer is _intended_ only for use as a subcomponent of the OpenTelemetry collector, _OR_ that it must be maintained as a standalone tool intende

[2022-04-07 18:33] djaglowski commented on #282
cc: @rmfitzpatrick, @dehaansa, @Mrod1598, @trask

Please also tag anyone else who you think can help us make the right decision on this.

[2022-04-08 21:50] trask commented on #282
@anuraaga found a Go library for fetching JMX metrics while we were discussing this yesterday: https://github.com/newrelic/nri-jmx

I like the idea of the JMX metric "scraper" being integrated tightly into the collector, modeling it after prometheus scraping (implemented internally either as a JVM subprocess or a rewrite in Go).

[2022-04-08 22:25] dehaansa commented on #282
I dug into it a bit and nri-jmx does appear to start a [java subprocess](https://github.com/newrelic/nrjmx) under the hood, so I don't think it would resolve the concerns about the JMX receiver subprocess.

[2022-04-11 13:22] rmfitzpatrick commented on #282
Some planning/origin notes for the JMX metric gatherer are in the community issue and its linked PRs: https://github.com/open-telemetry/community/issues/449. The library wasn't intended to solely be for the corresponding collector receiver but given the nature of the collector and reporting in otlp their integration is likely unavoidable for a number of nontrivial uses. The collector component is

[2022-04-12 14:20] carlosalberto opened #291 "Update JMX reported metrics"
I've opened a pair of PRs to include the existing JMX metrics for JVM and Kafka Producer/Brokers. I'd love to have the review by the codeowners - specially as I'd like to go over the rest of the metrics, and I don't want that to be a surprise later.

* [JVM metrics](https://github.com/open-telemetry/opentelemetry-specification/pull/2478)
* [Kafka metrics](https://github.com/open-telemetry/opentele

[2022-04-12 15:50] dehaansa commented on #291
@carlosalberto initially these additions look good, but it may be prudent to wait until the conversations around the long term support for the JMX metrics gatherer are further along (see #282)

[2022-04-13 20:22] kubawach commented on #156
Maven plugin just landed: https://github.com/open-telemetry/opentelemetry-java-contrib/pull/293

[2022-04-14 13:53] carlosalberto commented on #291
Thanks @dehaansa - I think there's value in defining them anyway, as we will need them one way or another.

Also, it may to your interest specifically that I'd like to (as mentioned in the PR) change some of the metrics from Gauges to UpDownCounters.

(On a related note, FYI, the used/committed/etc memory uses a different set of metrics in the [OTel Specs](https://github.com/open-telemetry/opentel

[2022-04-14 14:07] carlosalberto commented on #282
@djaglowski So it looks like the JMX gatherer is supposed to also exist as a standalone component. What's the follow up from here? Happy to help if anything else is needed.

[2022-04-14 15:34] djaglowski commented on #282
Thanks for the feedback everyone. As @carlosalberto mentioned, it's been established that the JMX Metric Gatherer is expected to run as a standalone executable. Based on this, I'm closing this issue.

I will formulate a proposal to address [collector-contrib#6750](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6750) with this understanding in mind. If it appears necessary

[2022-04-14 15:34] #282 closed

[2022-04-15 14:24] carlosalberto opened #294 "JMX not fetching a few Kafka metrics"
I'm currently digging this issue, but wanted to let the maintainers about it. Essentially I'm running Kafka and for *some* metrics I'm getting nothing, with errors showing up in the logs, such as:

* WARNING: No valid value(s) for kafka.producer.record-send-rate
* WARNING: Failed to fetch MBean kafka.producer:client-id=*,type=producer-metrics.
* WARNING: No valid value(s) for kafka.logs.flush.time

[2022-04-17 19:42] trask opened #297 "Add CONTRIBUTING.md"
and reference (or copy) style guide(s) from core and instrumentation repos

[2022-04-19 19:12] #297 closed

[2022-04-20 09:06] YarivHastilow opened #310 "AWS X-Ray trace ID format is wrong"
The [AwsXrayIdGenerator](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/aws-xray/src/main/java/io/opentelemetry/contrib/awsxray/AwsXrayIdGenerator.java) generates trace IDs as 32-digit hex strings.
These do not work in AWS X-Ray because it requires the trace ID to include version number and hyphens.

The  description in the Java file says: "Generates tracing ids compatible

[2022-04-20 09:14] anuraaga commented on #310
Hi @YarivHastilow - the OpenTelemetry collector formats the ID before sending to X-Ray so things should generally work. If you're trying to query the traces in the console, perhaps because of doing log mdc injection, you will want to use the x-ray formatted one available in the aws distro. Some background here

https://github.com/aws-observability/aws-otel-java-instrumentation/issues/38

Closing t

[2022-04-20 09:14] #310 closed

[2022-04-21 00:33] SeraphicRav commented on #310
@anuraaga But if we call some in AWS like an API Gateway, it won't understand the traceId a create a new one, right ?

[2022-04-21 00:48] anuraaga commented on #310
Hi @SeraphicRav - For use with API gateway, you will need to use the xray propagator. The aws distro will enable this by default if you use it.

There is some work on supporting w3c in API gateway and other services but it will take a long time still I think.

[2022-04-21 01:12] SeraphicRav commented on #310
Hi @anuraaga, thanks for your answer

[2022-05-04 14:11] dehaansa opened #322 "jmx-metrics: properties file should be able to set common sdk properties & ssl properties"
**Is your feature request related to a problem? Please describe.**
As the contrib-collector moves towards communicating with the JMX metrics gatherer over primarily a properties file (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9686), there are several properties that could be set this way that are not currently supported. Also unit tests are missing for properties fil

[2022-05-04 22:29] carlosalberto commented on #291
@dehaansa You maybe interested in the latest iterations in https://github.com/open-telemetry/opentelemetry-specification/pull/2485 - so far:

* Most gauges have become UpDownCounters
* Have left out of the semantic conventions a few metrics that can be synthesized as summary/histogram data points.

[2022-05-05 14:19] carlosalberto opened #324 "Run a single JMX integration test"
Currently it is taking **a lot** to run the integration testing step of the JMX Gatherer - is there a chance to run a single one?

E.g. I'm trying to update the JVM ones only, and I'd like to restrict the test to that.

[2022-05-06 02:25] anuraaga commented on #324
Hi @carlosalberto - do you mean for local development? You should be able to run `JvmTargetSystemIntegrationTest` by itself in an IDE.

[2022-05-06 02:34] carlosalberto commented on #324
Hey @anuraaga!

Yes, local testing - no, sadly I don't run an IDE ;) But your comment makes me believe no build refactoring/extension is needed, and probably I can dig how to trigger this from gradle itself ;)

[2022-05-06 12:29] rmfitzpatrick commented on #324
I think you're looking for [the filter](https://docs.gradle.org/current/userguide/java_testing.html#test_filtering) `./gradlew integrationTest --tests JvmTargetSystemIntegrationTest`

[2022-05-20 20:49] PeterF778 opened #349 "ConsistentSampler does not unset p from tracestate when deciding not to sample"
**Description**

According to the specs, a consistent probability sampler should unset p from tracestate when deciding not to sample. This functionality seems to be missing, the tracestate as left by the ConsistentSampler will have the p-value set regardless of the sampling decision.

**Steps to reproduce**
Configure ConsistentProbabilityBasedSampler with low probability (< 1.0).
Apply this sample

[2022-05-20 21:34] oertl commented on #349
@PeterF778, thanks for reporting this. Will fix that.

[2022-05-23 20:42] seism0saurus opened #351 "JMX Metrics: Protocol Error with otlp exporter"
**Description**
I have a running tomcat server with a war file in it. The JMX port 9000 is open without authentication or TLS (only for testing).
There are many nice metrics in the console, if I do not define the exporter as otlp. So I assume the JMX connectivity works correctly.

But when I use the otlp exporter to send the metrics to my Elastic APM server, I get the following error:

[code]

I u

[2022-05-24 01:02] anuraaga commented on #351
Hi @seism0saurus - it looks like you are specifying `https://` but no certificate. Unless you have installed the server's certificate into your actual operating system (unlikely), this won't work.

https://www.elastic.co/guide/en/apm/guide/current/open-telemetry.html#instrument-apps-otel

You would need to set `OTEL_EXPORTER_OTLP_CERTIFICATE` to the certificate of the server. Alternatively you may

[2022-05-24 21:20] #349 closed

[2022-06-16 15:35] syr opened #357 "Why AwsXrayIdGenerator cannot be used to generate AWSTraceHeader for SQS message?"
**Description**
In my Quarkus 2.9.2 application, I use software.amazon.awssdk.services.sqs.SqsClient.send from io.quarkiverse.amazonservices:quarkus-amazon-sqs (AWS SDK 2.17.166) to send a message to AWS SQS queue.

As the attached AWS Open Telemetry agent (https://github.com/aws-observability/aws-otel-java-instrumentation/releases/latest/download/aws-opentelemetry-agent.jar) does not set the AWST

[2022-06-17 00:24] #357 closed

[2022-06-20 20:08] #322 closed

[2022-06-20 20:09] dehaansa opened #368 "Release process: Create issue to update JMX Receiver in Collector Contrib"
**Is your feature request related to a problem? Please describe.**
With recent security-focused changes to the JMX Receiver, a change is required to use new versions of the JMX Metrics Gatherer.

**Describe the solution you'd like**
It would be great if the release process auto-created an issue to "Update JMX Receiver to support release X.Y.Z" for example, either in this repository or in collector

[2022-06-20 21:40] trask commented on #368
hi @dehaansa, this is a great idea! we do something similar in the instrumentation repo to post a PR to opentelemetry-operator at the end of the release, let's see if we can do something similar here, I created a draft what this would look like: #369

how do you generate the hash?

[2022-06-20 23:44] dehaansa commented on #368
@trask oops, that's certainly something that should be more clearly documented somewhere! It's a sha256 hash.

[2022-06-21 02:00] trask commented on #368
got it, thx, I think I can finish up the automation.

@dehaansa can the version in the collector contrib `jmxMetricsGathererVersions` be changed from `1.15.0` to `1.15.0-alpha` so that it's clear this is not a "stable" component?

[2022-06-21 03:12] dehaansa commented on #368
@trask that's fine. The version string used in collector contrib is primarily for maintainer documentation, so it can be changed without hassle.

[2022-06-21 09:30] jeanbisutti commented on #217
Would it be solved with #354? [The new Readme.](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/runtime-attach/README.md) Something more expected?

[2022-06-24 02:37] dino-ma opened #375 "Memory control"
In view of the fact that our indicators are accumulated in memory and reported, do we have any strategies to avoid affecting business services

So if it is an online service with massive traffic, such as our company Baidu. There may be a risk of exploding the memory during this refresh window period

[2022-06-24 15:45] dino-ma commented on #375
Thank you for your response. I am not referring to an indicator. Instead, when our opentelemetry-java-contrib collects metrics in memory for flush, there may be a flush interval that fills up the container's memory, rendering the service unavailable. For this scenario, we consider whether the underlying component controls the overall memory usage of the component as a pool or threshold.

[2022-06-24 15:45] dino-ma commented on #375
Thank you for your response. I am not referring to an indicator. Instead, when our opentelemetry-java-contrib collects metrics in memory for flush, there may be a flush interval that fills up the container's memory, rendering the service unavailable. For this scenario, we consider whether the underlying component controls the overall memory usage of the component as a pool or threshold.

[2022-06-24 20:41] trask commented on #375
hi @dino-ma! @jack-berg above is referring to the controls that the OpenTelemetry SDK has in place to limit its memory consumption when collecting metrics (prior to flushing them).

if this isn't what you are asking about, maybe you can describe what you mean by "our indicators", and what in-memory telemetry components you are concerned about?

[2022-06-27 03:20] dino-ma commented on #375
Hello, @trask  What I want to ask is that we use opentelemetry Java contrib as the SDK of otel. As for trace collection, there will be memory occupation in the process. Do we have a strategy for this scenario. This is not to say that we monitor and visualize the memory of applications in terms of indicators.

For example, the maximum memory of my current pod is 8g, and our application occupies 5g.

[2022-06-27 05:08] trask commented on #375
if you are asking about metrics memory retention, then yes, I believe @jack-berg answers this above

if you are asking about span memory retention, each individual spans is only retained for the life and then flushed, e.g. to the BatchSpanProcessor which also has (configurable) memory limit policies

[2022-06-27 05:45] trask commented on #217
thx! closing as resolved by #354

[2022-06-27 05:45] #217 closed

[2022-06-27 07:54] dino-ma commented on #375
Thank you for your support. It has been solved. In the future, we plan to provide a sapmler for Jaeger remote sample

[2022-06-27 21:59] #375 closed

[2022-06-28 09:15] felixscheinost opened #376 "AWS X-Ray remote sampler does not poll for new rules"
**Description**

AWS X-Ray remote sampler does not poll for updated sampling configuration in the default configuration.

Any configuration which has a polling interval smaller than roughly 3.3 minutes is expected to work currently.

I already addeed a comment in #133 but decided to open a separate issue instead.

**Steps to reproduce**

Run in default configuration.

**Expectation**

I expect the

[2022-07-06 02:27] #376 closed

[2022-07-06 23:29] hecomp opened #384 "JMX gatherer with wildfly - "WARNING: No valid value(s) for wildfly.request.count ...""
**Description**
A clear and concise description of what the bug is or observed behavior.
The JMX Metric Gatherer is throwing warnings for listener metric `wildfly.request.count`.

**Steps to reproduce**
Provide a (runnable) recipe for reproducing the error.
See the following example PR.
[Wildfly Example](https://github.com/lightstep/opentelemetry-examples/pull/111)

**Expectation**
A clear and con

[2022-07-16 01:29] jxplus opened #393 "Skywalking Exporter should support pipeline type traces"
Exporter skywalking only support logs and metrics，but no traces。

As a top project of apache，and a good product of Opentracing implementation，should also support traces。

[2022-07-18 09:24] #393 closed

[2022-07-19 04:30] trask commented on #393
hi @jxplus! the skywalking exporter lives in a different repo: https://github.com/open-telemetry/opentelemetry-collector-contrib

[2022-07-19 06:59] MariusBrill opened #394 "Add Influx Client as Metric Exporter"
**Is your feature request related to a problem? Please describe.**
Currently OpenTelemetry does not provide a default InfluxDB Exporter. Since we would like to add an InfluxDB Exporter to the [inspectIT Ocelot](https://github.com/inspectIT/inspectit-ocelot), we would like to contribute to Open Telemetry and add this exporter to the project.

**Describe the solution you'd like**
The exporter would

[2022-07-20 20:59] trask opened #406 "Generate static-instrumenter maven plugin metadata at build time"
See https://github.com/open-telemetry/opentelemetry-java-contrib/pull/403

Alternatively we could update the version bumping script for this, but seems better if we can generate this at build time if possible.

cc @kubawach @anosek-an

[2022-07-20 22:30] trask commented on #394
hi @MariusBrill! this sounds like a good fit for this repo. we just ask that you or someone else sign up to be a "component owner" for the new component. Ideally it's good to have two (or more) component owners from at least two different companies, but this is not required.

[2022-07-21 06:36] MariusBrill commented on #394
Hi @trask ,
sure i will sign up to be the owner! I would also have colleagues who i think would love to be owners too, however they work at the same company as i do. I will talk to them and will get back to you.
However, if anyone else reading this would like to too take ownership, i would be happy to share! I think it's a good policy to spread ownership across companies in an open source project!

[2022-07-25 02:46] jxplus commented on #393
i see, thanks.

[2022-08-08 00:08] #156 closed

[2022-08-14 14:57] anuragagarwal561994 opened #1018 "SpanMetricsProcessor for agent instrumentation"
**Is your feature request related to a problem? Please describe.**
Opentelmetry java instrumentation is nicely able to handle the application traces using annotations, a nice feature to have would be to record metrics of the spans using the annotations itself. The metrics would be of the way like span metrics processor does to record the R.E.D metrics.

**Describe the solution you'd like**
We can

[2022-08-23 21:37] jack-berg opened #507 "Test flake in :sdk-extensions:aws"
`SimpleHttpClientTest` [failed](https://github.com/open-telemetry/opentelemetry-java/runs/7981631151?check_suite_focus=true) with:
[code]

[2022-08-25 21:35] jeanbisutti opened #429 "Start-up profiler proposal"
It's a proposal to create a start-up profiler project in `opentelemetry-java-contrib` repository.

This profiler could help investigate why an application instrumented with the Opentelemetry agent is slow to start.

With a JFR setting using JVM options (`-XX:StartFlightRecording=settings=profile,dumponexit=true,filename=profiling.jfr" / -XX:+UnlockCommercialFeatures -XX:+FlightRecorder -XX:FlightR

[2022-09-12 21:38] breedx-splk commented on #324
I think @rmfitzpatrick has solved it. Please reopen if this doesn't work for you @carlosalberto.

[2022-09-12 21:38] #324 closed

[2022-09-16 18:27] trask opened #436 "Static instrumenter may be broken since 1.18.0"
The static instrumenter artifacts are not yet published, so this is not urgent, but wanted to open tracking issue so not forgotten about. I had to disable its `JarTest` which was failing after updating to 1.18.0.

[2022-09-22 13:56] jeanbisutti commented on #436
Can you please assign this issue to me? The problem seems to come from the way the test is written. It does not seem to be a regression. I could create a PR later tomorrow.

[2022-09-22 17:55] trask opened #467 "What is the minimum maven version to support for maven-extension and static-instrumenter?"
It looks like `maven-extension` supports 3.5.0+, that seems like a reasonable baseline, and we could update `static-instrumenter` to the same.

[2022-09-22 20:42] cyrille-leclerc commented on #467
Thanks @trask,

You are right on the decision for the OTel Maven Extension to pick 3.5.0 rather than the latest MAven Core version available.
We want to support all Maven 3.5.0+ users.

Why did we pick 3.5.0 and not more recent? Here are few elements:
1. We didn't have MAven adoption statistics to help us
2. 3.5.0 was a major bump of Maven with interesting new APIs for Observability so supporting

[2022-09-23 21:20] trask opened #476 "Target Micrometer 1.5"
Is there any reason we're targeting 1.1 here? Micrometer 1.1 is super old, and not compatible with the more recent releases - the API stabilized around 1.5, and since then all the changes have been strictly incremental. Before that there's been a few breaking changes.

_Originally posted by @mateuszrzeszutek in https://github.com/open-telemetry/opentelemetry-java-contrib/pull/472#discussion_r97839

[2022-09-23 21:34] HaloFour commented on #476
Sounds good to me, my concern was to target a version that would apply to a critical mass of users.

[2022-09-23 21:46] HaloFour commented on #476
I doesn't seem like any of the APIs I'm using have changed since 1.1.  That's why I was targeting latest for tests, to ensure that it would continue to work with the latest version.  I also recall that breaking changes is why I target 1.1 instead of 1.0.

[2022-10-03 15:39] jeanbisutti opened #495 "Releases of the Maven plugin for static instrumentations not working"
I have tested the maven plugin for static instrumentation from [the artifacts published on Maven Central](https://mvnrepository.com/artifact/io.opentelemetry.contrib/static-instrumentation-maven-plugin).  It seems broken.

For example, the error for the last release:
` Invalid plugin descriptor for io.opentelemetry.contrib:static-instrumentation-maven-plugin:1.18.0-alpha (...\io\opentelemetry\cont

[2022-10-03 20:07] #467 closed

[2022-10-03 20:15] trask commented on #476
@mateuszrzeszutek are you good with closing this and keeping the current state?

[2022-10-04 06:40] mateuszrzeszutek commented on #476
Yeah, let's close it 👍
(it's too bad we don't have anything like muzzle here that'd verify that we're compatible with all versions)

[2022-10-04 06:40] #476 closed

[2022-10-07 17:11] #436 closed

[2022-10-07 17:21] trask opened #506 "Static instrumenter not calling Java agent extension SPIs"
E.g. it's not calling `LoggingCustomizer` SPI and so logging is using no-op implementation.

see https://github.com/open-telemetry/opentelemetry-java-contrib/pull/474#discussion_r990323748

[2022-10-10 07:32] mateuszrzeszutek commented on #507
@willarmiros can you take a look at this?

[2022-10-10 15:05] jufab opened #508 "No Class in opentelemetry-runtime-attach jar"
**Description**
I wanted to try opentelemetry-runtime-attach module.
I import it in maven project.
But when I would like to import `RuntimeAttach` : there is no class.
In jar, there is only otel-agent.jar in `io.opentelemetry.contrib.attach`

**Steps to reproduce**
[Just open jar from maven and see the content](https://search.maven.org/remotecontent?filepath=io/opentelemetry/contrib/opentelemetry-

[2022-10-11 09:38] jeanbisutti commented on #508
Hi Julien,
I have created a PR to fix this. The correction should be included in the next release which should take place in the next two weeks.

[2022-10-11 17:58] #508 closed

[2022-10-13 15:54] slankka opened #523 "[Maven Extension] Failed to export spans FRAME_SIZE_ERROR: 4740180"
**Description**
I'm using `opentelemetry-maven-extension` to collect metrics.

Opentelemetry deployment:
[jaegertracing/jaeger/tree/main/docker-compose/monitor](https://github.com/jaegertracing/jaeger/tree/main/docker-compose/monitor)

When I execute `mvn verify -Dotel.traces.exporter=otlp -Dotel.exporter.otlp.endpoint="http://<host>:4317" `

here are outputs:
[code]

**Steps to reproduce**
full d

[2022-10-14 21:49] altro3 opened #532 "Artifact aws-resources lost"
Can't find it in maven central:
![изображение](https://user-images.githubusercontent.com/48474279/195949137-dd811240-099a-4790-87bd-0accff392337.png)

[2022-10-14 22:49] jack-berg commented on #532
This was a mistake. Here's the [line](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/aws-resources/build.gradle.kts#L5) that caused the problem.

[2022-10-15 12:08] altro3 commented on #532
@jack-berg I see.... But do you plan to fix this in release 1.1.9.0 or will we have to wait for release 1.20.0?

[2022-10-17 16:49] jack-berg commented on #532
We published a patch release [1.19.1](https://github.com/open-telemetry/opentelemetry-java-contrib/releases/tag/v1.19.1) to fix this omission. Thanks for the report!

[2022-10-17 16:49] #532 closed

[2022-10-27 04:22] trask commented on #523
hi @slankka! check out discussion in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/5534

[2022-10-27 06:12] #523 closed

[2022-11-02 20:47] rapphil opened #564 "[aws-resources] link xray traces to cloudwatch logs - Populate aws.log.group.names in resource detectors"
**Is your feature request related to a problem? Please describe.**

`aws.log.group.names` is used to link Xray traces to cloudwatch logs.

Right now no resource detector is populating this resource attribute.

**Describe the solution you'd like**

I would like that each resource detector to populate the `aws.log.group.names` using a stable approach (i.e.: does not rely on weak conventions).

**Des

[2022-11-11 13:05] SaschaBrechmannVHV commented on #394
@MariusBrill ,
will this influx-client Exporter be merged ?
Regards, Sascha

[2022-11-14 16:49] trask opened #586 "Add CI test matrix to run tests against Java 8 and 11 (in addition to 17)"
Currently tests are only run against Java 17.

It would be good to add a test matrix to run them against 8 and 11 as well (where the module under test supports those versions), similar to what is done in core and instrumentation repos.

[2022-11-26 02:04] github-actions[bot] opened #631 "CodeQL (daily) #242 failed"
See [CodeQL (daily) #242](https://github.com/open-telemetry/opentelemetry-java-contrib/actions/runs/3551750581).

[2022-11-27 02:27] trask commented on #631
plugins.gradle.org flake, passed on re-run

[2022-11-27 02:27] #631 closed